@media screen and (max-width: 1200px) {
    .card_info__title_btn {
        width: 200px;
    }
    .card_info__title {
        padding-right: 210px;
    }
    .card_info__contacts h3 span {
        padding-right: 0;
    }
    .card_info__contacts h3 button {
        position: static;
    }
    .section_cards.list .cards__item_info {
        padding: 13px 20px 15px;
    }
    .section3__item h3 {
        font-size: 11px;
    }
    .section3__item p {
        font-size: 13px;
    }
    .cards__item>*:not(.img) {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cards__item .price a {
        width: 25px;
        height: 25px;
    }
    .footer__top p {
        width: calc(28% - 10px);
        margin-right: 10px;
    }
    .cards__item .price a {
        font-size: 14px;
    }
    .cards__item .price a .icon-ico_svg12 {
        font-size: 10px;
    }
    .cards__item .price .fa-phone {
        font-size: 15px;
    }
}

// @media screen and (max-width: 1200px) and (min-width: 1024px){
// }
@media screen and (max-width: 1024px) {
    .section_cards.catalog {
        padding-top: 15px;
    }
    .personal_area_data__top .table h4 {
        width: 100%;
        display: block;
        padding: 0;
    }
    .personal_area_data__top .table {
        padding: 0 15px;
        text-align: center;
    }
    .personal_area_data .wrap_input__label {
        font-size: 13px;
        padding: 0 10px;
    }
    .personal_area_data__top .table>* {
        display: block;
    }
    .personal_area_data__top .border_green_btn {
        margin: 10px auto 0;
    }
    .personal_area_data__top .table h4 span {
        font-size: 18px;
    }
    .personal_area_data__top .table,
    .personal_area_data__top h3 {
        display: block;
        font-size: 14px;
    }
    .card_info {
        padding-bottom: 50px;
    }
    .section3__item .price__radio_wrap {
        margin: auto -10px 0;
    }
    .create_ad .section3__item {
        padding: 0 10px;
        width: calc(33.3333% - 20px);
        margin: 0 10px;
        position: static;
    }
    .wrap_input__label {
        width: 30%;
    }
    .wrap_input__input {
        width: 60%;
    }
    .breadcrumbs ul,
    .section_cards .title_card h3 {
        width: 100%;
        margin-bottom: 15px;
    }
    .view {
        width: 100%;
    }
    .header__search .search__dropdown li {
        position: relative;
    }
    .header__search .search__dropdown li ul li:hover ul {
        left: auto;
        right: 100%;
    }
    .section3 .green_btn {
        margin-top: 30px;
    }
    .footer__center_center {
        width: 25%;
    }
    .section2__item:after {
        top: 50px;
    }
    .section2__item .img {
        width: 100px;
        height: 100px;
    }
    .header__search .search__btn {
        width: 100%;
        height: 48px;
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    .header__search .search__btn {
        i {
            margin-left: 0;
        }
        span {
            display: none;
        }
    }
    .header__top {
        text-align: center;
    }
    .header__top_buttons {
        width: 100%;
        max-width: none;
        float: none;
    }
    .section3__item {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
    .cards__item {
        width: calc(33.333% - 20px)
    }
    .header__heat.catalog .heat_catalog_bottom .img {
        width: 70px;
        font-size: 20px;
        height: 70px;
        line-height: 70px;
    }
    .header__heat.catalog .heat_catalog_bottom .img i.plus {
        font-size: 23px;
        line-height: 70px;
    }
    .header__heat.catalog .heat_catalog_bottom .filter_tab__item {
        padding: 0 10px 0 15px;
    }
    .header__heat.catalog .heat_catalog_bottom .filter_tab__item a {
        padding-left: 25px;
    }
}

@media screen and (max-width: 768px) {
    .filter {
        float: none;
        width: 100%;

    }
    .catalog .cards {
        width: auto;
        float: none;
    }
    .personal_area__nav {
        padding: 0 10px;
    }
    .personal_area__nav li.active a {
        border-radius: 2px;
    }
    .personal_area__left>div {
        width: 50%;
        float: left;
        margin: 0;
    }
    .personal_area__nav li:before {
        display: none;
    }
    .personal_area__nav {}
    .create_ad__prices {
        padding: 0;
    }
    .section3__items {
        justify-content: center;
    }
    .create_ad .section3__item {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
    .section_cards.list .cards {
        width: 100%;
        float: none;
    }
    // .header__search .search__select .select2-container--below.select2-container--open {
    //  width: 100%!important;
    //  max-width: 100%!important;
    // }
    .footer__center_left a {
        margin-top: 15px;
    }
    .footer__center_right {
        width: 50%;
    }
    .footer__center_center {
        width: 50%;
    }
    .footer__center_left {
        width: 100%;
        margin-bottom: 20px;
    }
    .section2__item:after {
        display: none;
    }
    .section2__item {
        width: 50%;
        margin-bottom: 20px;
    }
    .cards__item h4 {
        display: block;
        width: 100%;
        float: none;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .header__search .search__dropdown a.a_drop {
        padding-right: 60px;
    }
    .header__search .search .drop-a:after {
        color: #fff;
        box-sizing: border-box;
        transform-origin: 60% 45%;
    }
    .header__search .search__dropdown li {
        &.active>.drop-a:after {
            transform: rotate(90deg);
        }
    }
    .header__search .search__dropdown li ul {
        border-radius: 0;
        margin-left: -15px;
        display: none;
        position: static;
        box-shadow: none;
        padding: 0!important;
    }
    .header__search .search .drop-a {
        display: block;
    }
    .header__search .search__dropdown a.a_drop:after {
        display: none;
    }
    .header__search .search__dropdown i {
        width: 40px;
        height: 40px;
        right: 0;
    }
    .header__search .search__dropdown a.a_drop {
        padding-right: 40px;
    }
    .header__search .search__btn_dropdown {
        position: static;
    }
    .header__search .search__search {
        position: relative;
    }
    .header__heat_tabs a i {
        font-size: 30px;
    }
    .header__heat_tabs a {
        font-size: 18px;
        min-width: 160px;
    }
    .header__heat .select2-container,
    .select2-container .bigdrop {
        max-width: calc(100% - 30px)!important;
        width: calc(100% - 30px)!important;
        min-width: 0;
        // left: 15px!important;
    }
    .footer__top {
        text-align: center;
    }
    .footer__logo {
        float: none;
        margin: 0 auto 10px;
        display: inline-block;
    }
    .header__search .search__select {
        margin-bottom: 15px;
    }
    .cards__item .price>* {
        width: 100%;
        text-align: center!important;
        padding: 5px 0!important;
    }
    .cards__item .price a {
        float: none;
        display: inline-block;
        margin: 0 4px;
    }
    .footer__top_right {
        width: 100%;
    }
    .header__heat.catalog .show-all {
        max-width: inherit;
        bottom: auto;
        top: 10px;
        z-index: 9;
        opacity: 1;
        left: 15px;
        transform: translate(0);
        text-align: center;
    }
    .header__heat.catalog .heat_catalog_bottom .filter_tab {
        padding: 40px 0 20px;
    }
    .banners {
        &>div {
            margin-bottom: 15px;
            &:last-child {
                margin: 0;
            }
        }
    }
    .section_cards .green_btn {
        margin-top: 15px;
    }
}

@media screen and (max-width: 650px) {
    .create_ad__container {
        padding-bottom: 40px;
    }
    .create_ad__btns a {
        margin: 5px 0;
    }
    .create_ad .wrap_input__checkbox {
        width: 100%;
        margin-top: 5px;
    }
    .section_cards .title_card h2 {
        font-size: 17px;
    }
    .header__heat.catalog .heat_catalog_bottom .filter_tab__item li {
        padding: 5px 0;
    }
    .header__heat.catalog .heat_catalog_bottom .filter_tab {
        font-size: 0;
        line-height: 0;
        text-align: left;
    }
    .header__heat.catalog .heat_catalog_bottom .filter_tab__item {
        width: 50%;
        display: inline-block;
        line-height: normal;
        float: none;
        vertical-align: top;
    }
    .cards__item {
        width: calc(50% - 20px);
    }
    .header__heat.catalog .heat_catalog_bottom .item h3 {
        display: none
    }
    .header__heat.catalog .heat_catalog_bottom .img {
        margin-bottom: 0;
    }
    .header__heat.catalog .heat_catalog_bottom .item {
        padding: 15px 5px;
    }
    .card_info__title_btn {
        display: none;
    }
    .card_info__title {
        padding-right: 0;
        margin-top: 0;
    }
    .card_info__title ul {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 550px) {
    .personal_area__nav li img,
    .personal_area__nav li svg,
    .personal_area__nav li i {
        left: 22px;
        font-size: 16px;
    }
    .personal_area__nav a {
        font-size: 14px;
        padding: 0 10px 0 40px;
    }
    .card_info__body .section_cards.list .cards__item_info {
        padding: 10px 20px 10px;
    }
    .cards__item h3 {
        margin-bottom: 5px;
    }
    .card_info__type_service h3,
    .card_info__type_service h4 {
        font-size: 12px;
    }
    .card_info__type_service li {
        padding-left: 5px;
        padding-right: 5px;
    }
    .header__heat.catalog .heat_catalog_bottom .img i.plus {
        font-size: 16px;
        line-height: 50px;
    }
    .header__heat.catalog .heat_catalog_bottom .img {
        width: 50px;
        font-size: 15px;
        height: 50px;
        line-height: 50px;
    }
    .bigdrop {
        padding: 25px 15px;
    }
    .header__heat {
        padding: 45px 0 30px;
    }
    .header__bottom_nav {
        margin-top: 20px;
    }
    .header__bottom_nav a {
        &:after {
            display: none;
        }
    }
    .select2-container--default .select2-results__option[role=group] {
        width: 50%;
    }
    .header__heat h1 {
        font-size: 35px;
    }
    .wrap_input__label {
        margin-bottom: 10px;
    }
    .create_ad .wrap_input>div {
        text-align: left;
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .section_cards.list .cards__item {
        margin-left: 0;
        margin-right: 0;
    }
    .footer .sociable {
        float: none;
        text-align: center;
    }
    .footer__bottom p {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .footer .sociable>a {
        margin: 0px 3px;
    }
    .footer__top {
        text-align: center;
    }
    .footer__top form {
        width: 100%;
    }
    .footer__top p {
        text-align: center;
        margin: 0 0 10px;
        width: 100%;
    }
    .section2__item {
        width: 100%;
        margin-bottom: 40px;
    }
    .header__top_buttons {
        text-align: center;
    }
    .header__top_buttons >div {
        min-width: 260px;
        display: inline-block;
        margin-bottom: 10px;
        float: none;
        &:last-child {
            margin: 0;
        }
    }
    .section2 .wrap_items {
        padding-bottom: 0;
    }
    .header__heat_tabs a {
        font-size: 17px;
        min-width: 130px;
    }
    .header__heat_tabs a i {
        font-size: 25px;
        margin-right: 5px;
    }
    .header__search .search__btn_wrap {
        padding: 0 10px 0 0;
    }
    .header__search .search {
        padding: 20px 5px;
    }
    .header__search .search__btn_dropdown {
        width: 60px;
        button span {
            display: none;
        }
    }
    .header__search .search__search input {
        width: calc(100% - 60px);
    }
    .header__search .search__btn {
        // margin: 0 -10px;
        width: 100%;
        // position: absolute;
    }
    .header__search {
        padding: 0;
        margin: 0 -10px;
    }
    .header__heat h2 {
        font-size: 22px;
    }
    .section3__item {
        width: 300px;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .header__search .search__dropdown {
        width: calc(100% + 21%);
    }
    .cards__item h3 {
        white-space: normal;
    }
    .section_cards .title_card h2 {
        width: 100%;
    }
    .section_cards .title_card .title_btn {
        margin-top: 10px;
    }
    .header__heat.catalog .heat_catalog_bottom {
        margin: 0 -15px;
    }
    .header__heat.catalog .heat_catalog_bottom .filter_tab__item {
        width: 100%;
    }
    .section_cards.list .cards__item_info {
        padding: 13px 5px 15px;
    }
    .list .cards__item h3 {
        font-size: 11px
    }
    .list .cards__item h4 {
        font-size: 10px
    }
    .list .cards__item p {
        font-size: 10px
    }
    .list .cards__item h5 {
        font-size: 12px
    }
    .list .cards__item h5 span {
        font-size: 10px;
    }
    .section_cards.list .cards__item .price .btns {
        display: none;
    }
    .list .cards__item .btn_info {
        font-size: 10px;
    }
    .list .cards__item .h4 {
        padding-bottom: 5px;
        position: relative;
    }
    .section_cards.catalog {
        padding-bottom: 30px;
    }
    .banners {
        margin: 10px 0 15px;
    }
    .personal_area_data .wrap_input {
        &>div {
            width: 100%;
            text-align: left;
        }
    }
    .personal_area_data .wrap_input__label {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 500px) {
    .personal_area__right {
        padding-right: 0;
        padding-left: 0;
    }
    .personal_area {
        [class*=col-md] {
            padding: 0;
        }
    }
    .create_ad .section3__item {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .cards__item h3 {
        font-size: 15px;
    }
    .filter__selected {

    padding: 5px;
    margin: 0;
}
    .personal_area_data__top {
        display: block;
        width: 100%;
        &>div {
            display: block;
            width: 100%!important;
        }
    }
    .personal_area_data__top .left:after {
        display: none;
    }
    .personal_area_data__top .left {
        margin-bottom: 20px;
    }
    .personal_area__left>div {
        padding: 0;
        width: 100%;
        float: none;
    }
    .card_info__body .cards__item .h4 {
        margin: 10px 0;
    }
    .card_info .container {
        padding: 0 15px;
    }
    .card_info__body .cards__item h4 {
        display: block;
    }
    .section_cards__top {
        padding: 0;
        margin-bottom: 20px
    }
    .filter__title {
 margin-bottom: 15px
    }
    .view__center--left {
        width: 100%;
    }
    .breadcrumbs .container {
        padding: 0 15px;
    }
    .card_info__body .cards__item {
        margin: 0 5px 10px;
        width: calc(50% - 10px);
        padding-bottom: 10px;
    }
    .view__right {
        display: none;
    }
    .cards__item .responsive_img {
        margin-bottom: 10px;
        border-radius: 2px 2px 0 0!important;
    }
}

@media screen and (max-width: 400px) {
    .view {
        &>div {
            text-align: center;
            margin: 5px 0;
            width: 100%;
        }
    }
    .header__heat.catalog .heat_catalog_bottom .filter_tab {
        width: calc(100% - 4px);
        margin-left: 2px;
    }
    .header__heat.catalog .heat_catalog_bottom .filter_tab__item {
        width: 100%;
    }
    .header__heat.catalog .heat_catalog_bottom .img i.plus {
        font-size: 12px;
        line-height: 46px;
    }
    .header__heat.catalog .heat_catalog_bottom .img {
        width: 46px;
        font-size: 15px;
        height: 46px;
        line-height: 46px;
    }
    .header__heat.catalog .heat_catalog_bottom .heat_catalog_btn {
        width: calc(20% - 4px);
        margin: 0 2px 10px;
    }
    .header__heat .select2-container,
    .select2-container .bogdrop {
        max-width: 100%!important;
        width: 100%!important;
        min-width: 0;
        left: 0px !important;
    }
    .header__top .container {
        padding: 0 10px;
    }
    .header__top_buttons>div {
        min-width: 100%
    }
    .header__search .search {
        padding: 20px 0px;
    }
    .footer__top form {
        height: 80px;
    }
    .footer__top form input {
        width: 100%;
        height: 50%;
        border: 2px solid #d1d1d1;
        border-bottom: none;
        border-radius: 3px 3px 0 0;
        text-align: center;
    }
    .footer__top form button {
        font-size: 14px;
        height: 50%;
        width: 100%;
    }
    .footer__center {
        padding-bottom: 10px;
    }
    .footer__center>div {
        width: 100%;
        margin-bottom: 20px;
    }
    .list .cards {
        margin: 0;
    }
    .cards {
        margin: 0 -10px;
    }
    .cards__item {
        width: calc(50% - 10px);
        margin: 0 5px 10px;
    }
    .header__heat h2 {
        font-size: 20px;
    }
    .header__heat h1 {
        font-size: 30px;
    }
}
