@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ezhl9n');
  src:  url('../fonts/icomoon.eot?ezhl9n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ezhl9n') format('truetype'),
    url('../fonts/icomoon.woff?ezhl9n') format('woff'),
    url('../fonts/icomoon.svg?ezhl9n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-personal_area_ico7:before {
  content: "\e91b";
}
.icon-personal_area_ico1:before {
  content: "\e90c";
}
.icon-card_info_ico1:before {
  content: "\e914";
}
.icon-card_info_ico2:before {
  content: "\e915";
}
.icon-card_info_ico3:before {
  content: "\e916";
}
.icon-card_info_ico4:before {
  content: "\e917";
}
.icon-card_info_ico5:before {
  content: "\e918";
}
.icon-card_info_ico7:before {
  content: "\e919";
}
.icon-card_info_ico8:before {
  content: "\e91a";
}
.icon-ico_svg25:before {
  content: "\e90f";
}
.icon-ico_svg26:before {
  content: "\e913";
}
.icon-ico_svg24:before {
  content: "\e90e";
}
.icon-ico_svg23:before {
  content: "\e912";
}
.icon-ico_svg1:before {
  content: "\e900";
}
.icon-ico_svg2:before {
  content: "\e901";
}
.icon-ico_svg3:before {
  content: "\e902";
}
.icon-ico_svg4:before {
  content: "\e903";
}
.icon-ico_svg6:before {
  content: "\e904";
}
.icon-ico_svg8:before {
  content: "\e905";
}
.icon-ico_svg9:before {
  content: "\e906";
}
.icon-ico_svg10:before {
  content: "\e907";
}
.icon-ico_svg11:before {
  content: "\e908";
}
.icon-ico_svg12:before {
  content: "\e909";
}
.icon-ico_svg13:before {
  content: "\e90a";
}
.icon-ico_svg14:before {
  content: "\e90b";
}
.icon-ico_svg15:before {
  content: "\e90d";
}
.icon-ico_svg16:before {
  content: "\e91e";
}
.icon-ico_svg212:before {
  content: "\e910";
}
.icon-ico_svg222:before {
  content: "\e911";
}




/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
