//= ../pages/heat.html

<body>
    <header class="header create_ad__header">
        //= ../pages/header.html
    </header>
    <div class="create_ad">
        <div class="clearfix">
            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li>Подача объявления</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="create_ad__container">
                <div class="create_ad__title">
                    <h2>Создать объявление на <strong>INFOBAG</strong> Бесплатно </h2>
                    <p>Данные объявления</p>
                </div>
                <div class="wrap_input">
                    <div class="col-md-2 col-md-offset-2 wrap_input__label">
                        <label for="">Категория<span>*</span></label>
                    </div>
                    <div class="col-md-5 wrap_input__input create_ad__category">
                        <div class="search__select" multiple="multiple">
                            <select class="select">
                                <optgroup></optgroup>
                                <optgroup>
                                    <option value="">Киев</option>
                                    <option value="">Винница</option>
                                    <option value="">Днепр</option>
                                    <option value="">Донецк</option>
                                    <option value="">Житомир</option>
                                    <option value="">Запорожье</option>
                                    <option value="">Ивано-Франковск</option>
                                    <option value="">Кропивницкий</option>
                                </optgroup>
                                <optgroup>
                                    <option value="">Луганск</option>
                                    <option value="">Луцк</option>
                                    <option value="">Львов</option>
                                    <option value="">Николаев</option>
                                    <option value="">Одесса</option>
                                    <option value="">Полтава</option>
                                    <option value="">Ровно</option>
                                    <option value="">Сумы</option>
                                </optgroup>
                                <optgroup value="">
                                    <option value="">Тернополь</option>
                                    <option value="">Ужгород</option>
                                    <option value="">Харьков</option>
                                    <option value="">Херсон</option>
                                    <option value="">Хмельницкий</option>
                                    <option value="">Черкассы</option>
                                    <option value="">Чернигов</option>
                                    <option value="">Черновцы</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="wrap_input">
                    <div class="col-md-2 col-md-offset-2 wrap_input__label">
                        <label for="">Название<span>*</span></label>
                    </div>
                    <div class="col-md-5 wrap_input__input">
                        <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                    </div>
                </div>
                <div class="wrap_input">
                    <div class="col-md-2 col-md-offset-2 wrap_input__label">
                        <label for="">Марка<span>*</span></label>
                    </div>
                    <div class="col-md-5 wrap_input__input">
                        <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                    </div>
                </div>
                <div class="wrap_input">
                    <div class="col-md-2 col-md-offset-2 wrap_input__label">
                        <label for="">Цена, <strong>грн</strong><span>*</span></label>
                    </div>
                    <div class="col-md-5 wrap_input__input small_input">
                        <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                        <div class="wrap_input__checkbox">
                        <input type="checkbox" id="price1">
                        <label for="price1">Торг</label>
                        <input type="checkbox" id="price2">
                        <label for="price2">Договорная</label>
                        </div>
                    </div>
                </div>
                <div class="wrap_input">
                    <div class="col-md-2 col-md-offset-2 wrap_input__label">
                        <label for="">Состояние<span>*</span></label>
                    </div>
                    <div class="col-md-5 wrap_input__input small_input">
                        <div class="status">
                            <select class="status_select">
                                <option>Новое</option>
                                <option>Б/У</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="wrap_input textarea">
                    <div class="col-md-2 col-md-offset-2 wrap_input__label">
                        <label for="">Описание<span>*</span></label>
                    </div>
                    <div class="col-md-5 wrap_input__input">
                        <textarea placeholder="Максимально опишите свое объявление"></textarea>
                    </div>
                </div>
                <div class="wrap_input images">
                    <div class="col-md-2 col-md-offset-2 wrap_input__label">
                        <label for="">Загрузить фото</label>
                    </div>
                    <div class="col-md-5 wrap_input__input">
                        <div class="wrap_image_items">
                            <div class="col-xs-4">
                                <div class="wrap_input__img">
                                    <div class="img"><img src="img/ad_img1.jpg" alt=""></div>
                                    <div class="wrap_input__img_hover">
                                        <a href="#">Главная</a>
                                        <a href="#"><i class="fa fa-undo" aria-hidden="true"></i></a>
                                        <a href="#"><i class="icon-ico_svg24"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="wrap_input__img">
                                    <div class="img"><img src="img/ad_img1.jpg" alt=""></div>
                                    <div class="wrap_input__img_hover">
                                        <a href="#">Главная</a>
                                        <a href="#"><i class="fa fa-undo" aria-hidden="true"></i></a>
                                        <a href="#"><i class="icon-ico_svg24"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="wrap_input__img">
                                    <div class="img"><img src="img/ad_img1.jpg" alt=""></div>
                                    <div class="wrap_input__img_hover">
                                        <a href="#">Главная</a>
                                        <a href="#"><i class="fa fa-undo" aria-hidden="true"></i></a>
                                        <a href="#"><i class="icon-ico_svg24"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="wrap_input__img">
                                    <div class="img"><a href="#" class="wrap_input__img_plus"><i class="icon-ico_svg24"></i></a></div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="wrap_input__img">
                                    <div class="img"><a href="#" class="wrap_input__img_plus"><i class="icon-ico_svg24"></i></a></div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="wrap_input__img">
                                    <div class="img"><a href="#" class="wrap_input__img_plus"><i class="icon-ico_svg24"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="create_ad__title">
                    <p>Данные объявления</p>
                </div>
                <div class="wrap_input">
                    <div class="col-md-2 col-md-offset-2 wrap_input__label">
                        <label for="">Контактное лицо<span>*</span></label>
                    </div>
                    <div class="col-md-5 wrap_input__input">
                        <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                    </div>
                </div>
                <div class="wrap_input">
                    <div class="col-md-2 col-md-offset-2 wrap_input__label">
                        <label for="">Номер телефона<span>*</span></label>
                    </div>
                    <div class="col-md-5 wrap_input__input">
                        <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                    </div>
                </div>
                <div class="wrap_input">
                    <div class="col-md-2 col-md-offset-2 wrap_input__label">
                        <label for="">E-mail<span>*</span></label>
                    </div>
                    <div class="col-md-5 wrap_input__input">
                        <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                    </div>
                </div>
                <div class="wrap_input">
                    <div class="col-md-2 col-md-offset-2 wrap_input__label">
                        <label for="">Выбрать город<span>*</span></label>
                    </div>
                    <div class="col-md-5 wrap_input__input create_ad__city">
                        <div class="search__select" multiple="multiple">
                            <select class="select">
                                <optgroup>
                                    <option value="#" class="all-reg">Вся Украина</option>
                                </optgroup>
                                <optgroup>
                                    <option value="">Киев</option>
                                    <option value="">Винница</option>
                                    <option value="">Днепр</option>
                                    <option value="">Донецк</option>
                                    <option value="">Житомир</option>
                                    <option value="">Запорожье</option>
                                    <option value="">Ивано-Франковск</option>
                                    <option value="">Кропивницкий</option>
                                </optgroup>
                                <optgroup>
                                    <option value="">Луганск</option>
                                    <option value="">Луцк</option>
                                    <option value="">Львов</option>
                                    <option value="">Николаев</option>
                                    <option value="">Одесса</option>
                                    <option value="">Полтава</option>
                                    <option value="">Ровно</option>
                                    <option value="">Сумы</option>
                                </optgroup>
                                <optgroup value="">
                                    <option value="">Тернополь</option>
                                    <option value="">Ужгород</option>
                                    <option value="">Харьков</option>
                                    <option value="">Херсон</option>
                                    <option value="">Хмельницкий</option>
                                    <option value="">Черкассы</option>
                                    <option value="">Чернигов</option>
                                    <option value="">Черновцы</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="create_ad__title">
                    <p>Выбор подачи объявления</p>
                </div>
                <div class="create_ad__prices">
                    <div class="create_ad__prices_container">
                        <div class="section3__items">
                            <div class="section3__item">
                                <h3 class="item_top">Обычное объявление</h3>
                                <div class="item_title">
                                    <h5>Бесплатно</h5>
                                </div>
                                <div class="wrap_img">
                                    <div class="img">
                                        <img src="img/section3_ico1.png" alt="">
                                    </div>
                                </div>
                                <p>Разместив одно объявление бесплатно, вы дополнительно получаете доступ к онлайн-визитке, которая автоматически становится личным мини-сайтом, где клиенты всегда могут оставить отзывы о вашем товаре или услуге.</p>
                                <div class="price__radio_wrap">
                                    <div class="price__radio">
                                        <input type="radio" name="price_ad" id="pricce1">
                                        <label for="pricce1">Выбрать</label>
                                    </div>
                                </div>
                            </div>
                            <div class="section3__item">
                                <h3 class="item_top">Выделенное объявление</h3>
                                <div class="item_title">
                                     <div class="status">
                                        <select class="status_select">
                                            <option><strong>9 грн</strong> / 7 дней</option>
                                            <option><strong>19 грн</strong> / 14 дней</option>
                                            <option><strong>29 грн</strong> / 28 дней</option>
                                         
                                        </select>
                                    </div>
                                </div>
                                <div class="wrap_img">
                                    <div class="img">
                                        <img src="img/section3_ico2.png" alt="">
                                    </div>
                                </div>
                                <p> Отличись от всех других объявлений! Это даст вам возможность сделать больше продаж. Вы всегда будете на виду у всех. Пройти мимо вас будет сложно, так как цвет всегда будете притягивать глаз наших поситителей!</p>
                                <div class="price__radio_wrap">
                                    <div class="price__radio">
                                        <input type="radio" name="price_ad" id="pricce2">
                                        <label for="pricce2">Выбрать</label>
                                    </div>
                                </div>
                            </div>
                            <div class="section3__item">
                                <h3 class="item_top">Топ-объявление</h3>
                                <div class="item_title">
                                    <div class="status">
                                        <select class="status_select">
                                            <option><strong>9 грн</strong> / 7 дней</option>
                                            <option><strong>19 грн</strong> / 14 дней</option>
                                            <option><strong>29 грн</strong> / 28 дней</option>
                                         
                                        </select>
                                    </div>
                                </div>
                                <div class="wrap_img">
                                    <div class="img">
                                        <img src="img/section3_ico3.png" alt="">
                                    </div>
                                </div>
                                <p>Будь всегда на высоте!ТОП-объявление - это всегда первая страница нашего сайта. Информацию о вас сложно будет упустить.</p>
                                <p>Это выгодное положение и предложение прямо здесь и сейчас.</p>
                                <div class="price__radio_wrap">
                                    <div class="price__radio">
                                        <input type="radio" name="price_ad" id="pricce3">
                                        <label for="pricce3">Выбрать</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">Смотреть все платные услуги <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="create_ad__btns">
                    <a href="#">Предварительный просмотр</a>
                    <a href="#" class="green_btn">Опубликовать объявление</a>
                </div>
            </div>
        </div>
    </div>
    //= ../pages/footer.html
    <!--  -->
    //= ../pages/js.html
</body>

</html>
