//= ../pages/heat.html

<body class="card_info__body">
    <header class="header">
        //= ../pages/header.html
        <div class="header__heat catalog">
            <div class="container">
                <div class="clearfix">
                    //= ../pages/nav.html
                </div>
            </div>
        </div>
    </header>
    <div class="clearfix">
        <div class="breadcrumbs">
            <div class="container">
                <ul>
                    <li><a href="index.html">Все объявления</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Транспорт</a></li>
                    <li>Название объявления</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="card_info">
        <div class="container">
            <div class="card_info__title">
                <h2>Разработка и создание сайтов, интернет-магазинов</h2>
                <ul>
                    <li class="card_info__title_city">Хмельницкий</li>
                    <li class="card_info__title_date">Добавлено 31.05.16</li>
                    <li class="card_info__title_id">ID: 325247036</li>
                </ul>
                <a href="#" class="card_info__title_btn">Следующее объявление <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="clearfix">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card_info__sliders">
                            <div class="card_info__large_slider">
                                <div class="card_info__large_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                    <a href="#" class="card_popap">
                                        <img src="img/full_size_ico.svg" alt="">
                                    </a>
                                </div>
                                <div class="card_info__large_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                    <a href="#" class="card_popap">
                                        <img src="img/full_size_ico.svg" alt="">
                                    </a>
                                </div>
                                <div class="card_info__large_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                    <a href="#" class="card_popap">
                                        <img src="img/full_size_ico.svg" alt="">
                                    </a>
                                </div>
                                <div class="card_info__large_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                    <a href="#" class="card_popap">
                                        <img src="img/full_size_ico.svg" alt="">
                                    </a>
                                </div>
                                <div class="card_info__large_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                    <a href="#" class="card_popap">
                                        <img src="img/full_size_ico.svg" alt="">
                                    </a>
                                </div>
                                <div class="card_info__large_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                    <a href="#" class="card_popap">
                                        <img src="img/full_size_ico.svg" alt="">
                                    </a>
                                </div>
                                <div class="card_info__large_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                    <a href="#" class="card_popap">
                                        <img src="img/full_size_ico.svg" alt="">
                                    </a>
                                </div>
                                <div class="card_info__large_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                    <a href="#" class="card_popap">
                                        <img src="img/full_size_ico.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="card_info__nav_slider">
                                <div class="card_info__nav_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="card_info__nav_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="card_info__nav_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="card_info__nav_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="card_info__nav_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="card_info__nav_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="card_info__nav_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="card_info__nav_slide">
                                    <div class="img">
                                        <img src="img/card_info_img1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card_info__details">
                            <ul class="card_info__type_service">
                                <li>
                                    <h3>Вид услуги</h3>
                                    <h4>Хорошая услуга</h4>
                                </li>
                                <li>
                                    <h3>Вид услуги</h3>
                                    <h4>Хорошая услуга</h4>
                                </li>
                                <li>
                                    <h3>Вид услуги</h3>
                                    <h4>Хорошая услуга</h4>
                                </li>
                                <li>
                                    <h3>Вид услуги</h3>
                                    <h4>Хорошая услуга</h4>
                                </li>
                            </ul>
                            <div class="card_info__text">
                                <h5>Описание услуги</h5>
                                <p>Добрый день. Мы молодая команда веб-разработчиков и, просто хороших людей, предлагаем услуги:</p>
                                <ul>
                                    <li>Создание сайтов, блогов, визиток, интернет-магазинов, онлайн-кинотеатров.</li>
                                    <li>Адаптивная и мобильная верстка сайтов по технологии Bootstrap3 + HTML5 + CSS3.</li>
                                    <li>Работаем с CMS Wordpress, Joomla, OpenCart.</li>
                                    <li>SEO оптимизация, продвижение и тех. поддержка.</li>
                                    <li>Изменение шаблона, цветовой гаммы и мелкие правки на сайте.</li>
                                    <li>Наполнение сайта.</li>
                                    <li>Перенос сайта на хостинг и регистрация доменного имени.</li>
                                </ul>
                                <p>Приблизительный прайс (цены договорные и обсуждаются по каждому проекту индивидуально):</p>
                                <ul>
                                    <li>Создание сайта по готовому шаблону - 500 -1000 грн.</li>
                                    <li>Индивидуальный дизайн + адаптивная верстка - 1000 -1500 грн.</li>
                                    <li>Сайт-визитка, корпоративный сайт, бизнес-сайт - 1500-2500 грн. - Интернет-магазин - 2500 - 4000 грн. - СЕО-оптимизация, первоначальное продвижение - 500-1000 грн. - Дополнительные услуги - цена договорная.</li>
                                </ul>
                                <div class="card_info__views">
                                    <h3><img src="img/card_info_ico7.svg" alt="">Просмотров: 456</h3>
                                </div>
                            </div>
                        </div>
                        <section class="section_cards top_ad catalog list">
                            <div class="section_cards__top">
                                <div class="title_card">
                                    <h2><strong>Топ-</strong>Объявления</h2>
                                    <a href="#" class="title_btn">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="cards__item">
                                    <div class="img">
                                        <div class="responsive_img">
                                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                            <a href="#">
                                                <img src="img/cart_photo1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cards__item_info">
                                        <div class="cards__item_top">
                                            <h3>Автоуслуги, грузопере...</h3>
                                            <div class="h4 clearfix">
                                                <h4 class="cards__city">Івано-Франківськ</h4>
                                                <h4 class="cards__date">31.05.16</h4>
                                            </div>
                                            <div class="text">
                                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                            </div>
                                        </div>
                                        <div class="cards__item_bot">
                                            <div class="price">
                                                <h5>2 798 <span>грн</span></h5>
                                                <div class="btns">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="price__btn">
                                                <a href="#" class="btn_info">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cards__item special_ad">
                                    <div class="img">
                                        <div class="responsive_img">
                                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                            <a href="#">
                                                <img src="img/cart_photo1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cards__item_info">
                                        <div class="cards__item_top">
                                            <h3>Автоуслуги, грузопере...</h3>
                                            <div class="h4 clearfix">
                                                <h4 class="cards__city">Івано-Франківськ</h4>
                                                <h4 class="cards__date">31.05.16</h4>
                                            </div>
                                            <div class="text">
                                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                            </div>
                                        </div>
                                        <div class="cards__item_bot">
                                            <div class="price">
                                                <h5>2 798 <span>грн</span></h5>
                                                <div class="btns">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="price__btn">
                                                <a href="#" class="btn_info">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cards__item">
                                    <div class="img">
                                        <div class="responsive_img">
                                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                            <a href="#">
                                                <img src="img/cart_photo1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cards__item_info">
                                        <div class="cards__item_top">
                                            <h3>Автоуслуги, грузопере...</h3>
                                            <div class="h4 clearfix">
                                                <h4 class="cards__city">Івано-Франківськ</h4>
                                                <h4 class="cards__date">31.05.16</h4>
                                            </div>
                                            <div class="text">
                                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                            </div>
                                        </div>
                                        <div class="cards__item_bot">
                                            <div class="price">
                                                <h5>2 798 <span>грн</span></h5>
                                                <div class="btns">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="price__btn">
                                                <a href="#" class="btn_info">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cards__item">
                                    <div class="img">
                                        <div class="responsive_img">
                                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                            <a href="#">
                                                <img src="img/cart_photo1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cards__item_info">
                                        <div class="cards__item_top">
                                            <h3>Автоуслуги, грузопере...</h3>
                                            <div class="h4 clearfix">
                                                <h4 class="cards__city">Івано-Франківськ</h4>
                                                <h4 class="cards__date">31.05.16</h4>
                                            </div>
                                            <div class="text">
                                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                            </div>
                                        </div>
                                        <div class="cards__item_bot">
                                            <div class="price">
                                                <h5>2 798 <span>грн</span></h5>
                                                <div class="btns">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="price__btn">
                                                <a href="#" class="btn_info">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cards__item special_ad">
                                    <div class="img">
                                        <div class="responsive_img">
                                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                            <a href="#">
                                                <img src="img/cart_photo1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cards__item_info">
                                        <div class="cards__item_top">
                                            <h3>Автоуслуги, грузопере...</h3>
                                            <div class="h4 clearfix">
                                                <h4 class="cards__city">Івано-Франківськ</h4>
                                                <h4 class="cards__date">31.05.16</h4>
                                            </div>
                                            <div class="text">
                                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                            </div>
                                        </div>
                                        <div class="cards__item_bot">
                                            <div class="price">
                                                <h5>2 798 <span>грн</span></h5>
                                                <div class="btns">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="price__btn">
                                                <a href="#" class="btn_info">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cards__item">
                                    <div class="img">
                                        <div class="responsive_img">
                                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                            <a href="#">
                                                <img src="img/cart_photo1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cards__item_info">
                                        <div class="cards__item_top">
                                            <h3>Автоуслуги, грузопере...</h3>
                                            <div class="h4 clearfix">
                                                <h4 class="cards__city">Івано-Франківськ</h4>
                                                <h4 class="cards__date">31.05.16</h4>
                                            </div>
                                            <div class="text">
                                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                            </div>
                                        </div>
                                        <div class="cards__item_bot">
                                            <div class="price">
                                                <h5>2 798 <span>грн</span></h5>
                                                <div class="btns">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="price__btn">
                                                <a href="#" class="btn_info">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cards__item">
                                    <div class="img">
                                        <div class="responsive_img">
                                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                            <a href="#">
                                                <img src="img/cart_photo1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cards__item_info">
                                        <div class="cards__item_top">
                                            <h3>Автоуслуги, грузопере...</h3>
                                            <div class="h4 clearfix">
                                                <h4 class="cards__city">Івано-Франківськ</h4>
                                                <h4 class="cards__date">31.05.16</h4>
                                            </div>
                                            <div class="text">
                                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                            </div>
                                        </div>
                                        <div class="cards__item_bot">
                                            <div class="price">
                                                <h5>2 798 <span>грн</span></h5>
                                                <div class="btns">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="price__btn">
                                                <a href="#" class="btn_info">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cards__item">
                                    <div class="img">
                                        <div class="responsive_img">
                                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                            <a href="#">
                                                <img src="img/cart_photo1.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="cards__item_info">
                                        <div class="cards__item_top">
                                            <h3>Автоуслуги, грузопере...</h3>
                                            <div class="h4 clearfix">
                                                <h4 class="cards__city">Івано-Франківськ</h4>
                                                <h4 class="cards__date">31.05.16</h4>
                                            </div>
                                            <div class="text">
                                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                            </div>
                                        </div>
                                        <div class="cards__item_bot">
                                            <div class="price">
                                                <h5>2 798 <span>грн</span></h5>
                                                <div class="btns">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <div class="price__btn">
                                                <a href="#" class="btn_info">Подробнее</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-4">
                        <div class="card_info__contacts">
                            <ul>
                                <li><i><img src="img/card_info_ico8.svg" alt=""></i>
                                    <h3>от <strong>7 500</strong> грн</h3></li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>
                                    <h3><span>(097) XXX-XX-XX</span><button>Показать</button></h3></li>
                                <li><a href="#"><i class="icon-ico_svg12" aria-hidden="true"></i><h4>Нописать автору</h4></a></li>
                            </ul>
                        </div>
                        <div class="card_info__advertising">
                            <h3>Рекламировать объявление</h3>
                            <ul>
                                <li><a href="#"><span>Сделать ТОП</span></a></li>
                                <li><a href="#"><span>Выделить</span></a></li>
                                <li><a href="#"><span>Поднять</span></a></li>
                            </ul>
                            <a href="#">Подробнее о рекламировании</a>
                        </div>
                        <div class="card_info__user">
                            <div class="card_info__user_top">
                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Добавить в закладки</a>
                            </div>
                            <div class="card_info__user_center">
                                <div class="card_info__user_photo no-photo">
                                    <div class="img">
                                        <img src="img/no-photo.svg" alt="">
                                    </div>
                                </div>
                                <h3>Товариш Юзер</h3>
                                <h4>Зарегистрирован 15.08.2016</h4>
                                <a href="#">Все объявления</a>
                            </div>
                            <a href="#" class="silver_btn">Онлайн-визитка пользователя</a>
                            <div class="card_info__user_share">
                                <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                                <script src="//yastatic.net/share2/share.js"></script>
                                <h3>Поделиться</h3>
                                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,gplus,twitter"></div>
                            </div>
                            <div class="card_info__buttons">
                                <ul>
                                    <li><a href="#"><i class="icon-card_info_ico2"></i> Редактировать</a></li>
                                    <li><a href="#"><i class="icon-card_info_ico3"></i> Пожаловаться</a></li>
                                    <li><a href="#"><i class="icon-card_info_ico4"></i> Отключить</a></li>
                                    <li><a href="#"><i class="icon-card_info_ico5"></i> Листовка</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card_info__map">
                            <img src="img/card_info_minimap.jpg" alt="">
                            <a href="#"><img src="img/card_info_ico6.svg" class="svg" alt="">Показать на карте</a>
                        </div>
                        <div class="card_info__banner">
                            <a href="#"><img src="img/card_info_banner1.jpg" alt=""></a>
                        </div>
                        <div class="card_info__banner">
                            <a href="#"><img src="img/card_info_banner2.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    //= ../pages/footer.html
    <!--  -->
    //= ../pages/js.html
</body>

</html>
