<div class="heat_catalog_bottom">
    <div class="heat_catalog_btn">
        <a href="#tab1" class="item color1">
            <div class="img">
                <img src="img/catalog1_ico1.svg" alt="">
            </div>
            <h3>НЕДВИЖИМОСТЬ</h3>
        </a>
        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
    <div class="heat_catalog_btn">
        <a href="#tab2" class="item color2">
            <div class="img">
                <img src="img/catalog1_ico2.svg" alt="">
            </div>
            <h3>ТРАНСПОРТ</h3>
        </a>
        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
    <div class="heat_catalog_btn">
        <a href="#tab3" class="item color3">
            <div class="img">
                <img src="img/catalog1_ico3.svg" alt="">
            </div>
            <h3>ДЕТСКИЙ МИР</h3>
        </a>
        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
    <div class="heat_catalog_btn">
        <a href="#tab4" class="item color4">
            <div class="img">
                <img src="img/catalog1_ico4.svg" alt="">
            </div>
            <h3>ДОМ и САД</h3>
        </a>
        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
    <div class="heat_catalog_btn">
        <a href="#tab5" class="item color5">
            <div class="img">
                <img src="img/catalog1_ico5.svg" alt="">
            </div>
            <h3>ЭЛЕКТРОНИКА</h3>
        </a>
        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
    <div class="filter_tab" id="tab1">
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Легковые автомобили</a></li>
                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                <li><a href="#"><span></span>Мото-техника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Спецтехника</a></li>
                <li><a href="#"><span></span>Автобусы</a></li>
                <li><a href="#"><span></span>Сельхозтехника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Водный транспорт</a></li>
                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                <li><a href="#"><span></span>Другое</a></li>
            </ul>
        </div>
    </div>
    <div class="filter_tab" id="tab2">
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Легковые автомобили</a></li>
                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                <li><a href="#"><span></span>Мото-техника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Спецтехника</a></li>
                <li><a href="#"><span></span>Автобусы</a></li>
                <li><a href="#"><span></span>Сельхозтехника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Водный транспорт</a></li>
                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                <li><a href="#"><span></span>Другое</a></li>
            </ul>
        </div>
    </div>
    <div class="filter_tab" id="tab3">
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Легковые автомобили</a></li>
                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                <li><a href="#"><span></span>Мото-техника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Спецтехника</a></li>
                <li><a href="#"><span></span>Автобусы</a></li>
                <li><a href="#"><span></span>Сельхозтехника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Водный транспорт</a></li>
                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                <li><a href="#"><span></span>Другое</a></li>
            </ul>
        </div>
    </div>
    <div class="filter_tab" id="tab4">
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Легковые автомобили</a></li>
                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                <li><a href="#"><span></span>Мото-техника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Спецтехника</a></li>
                <li><a href="#"><span></span>Автобусы</a></li>
                <li><a href="#"><span></span>Сельхозтехника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Водный транспорт</a></li>
                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                <li><a href="#"><span></span>Другое</a></li>
            </ul>
        </div>
    </div>
    <div class="filter_tab" id="tab5">
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Легковые автомобили</a></li>
                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                <li><a href="#"><span></span>Мото-техника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Спецтехника</a></li>
                <li><a href="#"><span></span>Автобусы</a></li>
                <li><a href="#"><span></span>Сельхозтехника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Водный транспорт</a></li>
                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                <li><a href="#"><span></span>Другое</a></li>
            </ul>
        </div>
    </div>
    <div class="heat_catalog_btn">
        <a href="#tab6" class="item color6">
            <div class="img">
                <img src="img/catalog1_ico6.svg" alt="">
            </div>
            <h3>МИР ЖИВОТНЫХ</h3>
        </a>
        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
    <div class="heat_catalog_btn">
        <a href="#tab7" class="item color7">
            <div class="img">
                <img src="img/catalog1_ico7.svg" alt="">
            </div>
            <h3>КОЛЛЕКЦИОНИРОВАНИЕ</h3>
        </a>
        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
    <div class="heat_catalog_btn">
        <a href="#tab8" class="item color8">
            <div class="img">
                <img src="img/catalog1_ico8.svg" alt="">
            </div>
            <h3>МОДА и СТИЛЬ</h3>
        </a>
        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
    <div class="heat_catalog_btn">
        <a href="#tab9" class="item color9">
            <div class="img">
                <img src="img/catalog1_ico9.svg" alt="">
            </div>
            <h3>ПРОДУКТЫ ПИТАНИЯ</h3>
        </a>
        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
    <div class="heat_catalog_btn">
        <a href="#tab10" class="item item-plus">
            <div class="img">
                <i class="icon-ico_svg24 plus"></i>
            </div>
            <h3>Добавить объявление</h3>
        </a>
        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
    <div class="filter_tab" id="tab6">
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Легковые автомобили</a></li>
                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                <li><a href="#"><span></span>Мото-техника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Спецтехника</a></li>
                <li><a href="#"><span></span>Автобусы</a></li>
                <li><a href="#"><span></span>Сельхозтехника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Водный транспорт</a></li>
                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                <li><a href="#"><span></span>Другое</a></li>
            </ul>
        </div>
    </div>
    <div class="filter_tab" id="tab7">
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Легковые автомобили</a></li>
                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                <li><a href="#"><span></span>Мото-техника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Спецтехника</a></li>
                <li><a href="#"><span></span>Автобусы</a></li>
                <li><a href="#"><span></span>Сельхозтехника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Водный транспорт</a></li>
                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                <li><a href="#"><span></span>Другое</a></li>
            </ul>
        </div>
    </div>
    <div class="filter_tab" id="tab8">
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Легковые автомобили</a></li>
                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                <li><a href="#"><span></span>Мото-техника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Спецтехника</a></li>
                <li><a href="#"><span></span>Автобусы</a></li>
                <li><a href="#"><span></span>Сельхозтехника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Водный транспорт</a></li>
                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                <li><a href="#"><span></span>Другое</a></li>
            </ul>
        </div>
    </div>
    <div class="filter_tab" id="tab9">
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Легковые автомобили</a></li>
                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                <li><a href="#"><span></span>Мото-техника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Спецтехника</a></li>
                <li><a href="#"><span></span>Автобусы</a></li>
                <li><a href="#"><span></span>Сельхозтехника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Водный транспорт</a></li>
                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                <li><a href="#"><span></span>Другое</a></li>
            </ul>
        </div>
    </div>
    <div class="filter_tab" id="tab10">
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Легковые автомобили</a></li>
                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                <li><a href="#"><span></span>Мото-техника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Спецтехника</a></li>
                <li><a href="#"><span></span>Автобусы</a></li>
                <li><a href="#"><span></span>Сельхозтехника</a></li>
            </ul>
        </div>
        <div class="filter_tab__item">
            <ul>
                <li><a href="#"><span></span>Водный транспорт</a></li>
                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                <li><a href="#"><span></span>Другое</a></li>
            </ul>
        </div>
    </div>
</div>
