//= ../pages/heat.html

<body>
    <header class="header catalog">
        //= ../pages/header.html
        <div class="header__heat catalog">
            <div class="container">
                <div class="clearfix">
                    //= ../pages/nav.html
                </div>
                <div class="heat_catalog_bottom">
                    <div class="heat_catalog_btn">
                        <a href="#tab1" class="item color1">
                            <div class="img">
                                <img src="img/catalog1_ico1.svg" alt="">
                            </div>
                            <h3>НЕДВИЖИМОСТЬ</h3>
                        </a>
                        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="heat_catalog_btn">
                        <a href="#tab2" class="item color2">
                            <div class="img">
                                <img src="img/catalog1_ico2.svg" alt="">
                            </div>
                            <h3>ТРАНСПОРТ</h3>
                        </a>
                        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="heat_catalog_btn">
                        <a href="#tab3" class="item color3">
                            <div class="img">
                                <img src="img/catalog1_ico3.svg" alt="">
                            </div>
                            <h3>ДЕТСКИЙ МИР</h3>
                        </a>
                        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="heat_catalog_btn">
                        <a href="#tab4" class="item color4">
                            <div class="img">
                                <img src="img/catalog1_ico4.svg" alt="">
                            </div>
                            <h3>ДОМ и САД</h3>
                        </a>
                        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="heat_catalog_btn">
                        <a href="#tab5" class="item color5">
                            <div class="img">
                                <img src="img/catalog1_ico5.svg" alt="">
                            </div>
                            <h3>ЭЛЕКТРОНИКА</h3>
                        </a>
                        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="filter_tab" id="tab1">
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Легковые автомобили</a></li>
                                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                                <li><a href="#"><span></span>Мото-техника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Спецтехника</a></li>
                                <li><a href="#"><span></span>Автобусы</a></li>
                                <li><a href="#"><span></span>Сельхозтехника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Водный транспорт</a></li>
                                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                                <li><a href="#"><span></span>Другое</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter_tab" id="tab2">
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Легковые автомобили</a></li>
                                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                                <li><a href="#"><span></span>Мото-техника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Спецтехника</a></li>
                                <li><a href="#"><span></span>Автобусы</a></li>
                                <li><a href="#"><span></span>Сельхозтехника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Водный транспорт</a></li>
                                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                                <li><a href="#"><span></span>Другое</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter_tab" id="tab3">
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Легковые автомобили</a></li>
                                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                                <li><a href="#"><span></span>Мото-техника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Спецтехника</a></li>
                                <li><a href="#"><span></span>Автобусы</a></li>
                                <li><a href="#"><span></span>Сельхозтехника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Водный транспорт</a></li>
                                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                                <li><a href="#"><span></span>Другое</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter_tab" id="tab4">
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Легковые автомобили</a></li>
                                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                                <li><a href="#"><span></span>Мото-техника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Спецтехника</a></li>
                                <li><a href="#"><span></span>Автобусы</a></li>
                                <li><a href="#"><span></span>Сельхозтехника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Водный транспорт</a></li>
                                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                                <li><a href="#"><span></span>Другое</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter_tab" id="tab5">
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Легковые автомобили</a></li>
                                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                                <li><a href="#"><span></span>Мото-техника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Спецтехника</a></li>
                                <li><a href="#"><span></span>Автобусы</a></li>
                                <li><a href="#"><span></span>Сельхозтехника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Водный транспорт</a></li>
                                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                                <li><a href="#"><span></span>Другое</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="heat_catalog_btn">
                        <a href="#tab6" class="item color6">
                            <div class="img">
                                <img src="img/catalog1_ico6.svg" alt="">
                            </div>
                            <h3>МИР ЖИВОТНЫХ</h3>
                        </a>
                        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="heat_catalog_btn">
                        <a href="#tab7" class="item color7">
                            <div class="img">
                                <img src="img/catalog1_ico7.svg" alt="">
                            </div>
                            <h3>КОЛЛЕКЦИОНИРОВАНИЕ</h3>
                        </a>
                        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="heat_catalog_btn">
                        <a href="#tab8" class="item color8">
                            <div class="img">
                                <img src="img/catalog1_ico8.svg" alt="">
                            </div>
                            <h3>МОДА и СТИЛЬ</h3>
                        </a>
                        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="heat_catalog_btn">
                        <a href="#tab9" class="item color9">
                            <div class="img">
                                <img src="img/catalog1_ico9.svg" alt="">
                            </div>
                            <h3>ПРОДУКТЫ ПИТАНИЯ</h3>
                        </a>
                        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="heat_catalog_btn">
                        <a href="#tab10" class="item item-plus">
                            <div class="img">
                                <i class="icon-ico_svg24 plus"></i>
                            </div>
                            <h3>Добавить объявление</h3>
                        </a>
                        <a href="#" class="show-all">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="filter_tab" id="tab6">
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Легковые автомобили</a></li>
                                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                                <li><a href="#"><span></span>Мото-техника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Спецтехника</a></li>
                                <li><a href="#"><span></span>Автобусы</a></li>
                                <li><a href="#"><span></span>Сельхозтехника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Водный транспорт</a></li>
                                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                                <li><a href="#"><span></span>Другое</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter_tab" id="tab7">
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Легковые автомобили</a></li>
                                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                                <li><a href="#"><span></span>Мото-техника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Спецтехника</a></li>
                                <li><a href="#"><span></span>Автобусы</a></li>
                                <li><a href="#"><span></span>Сельхозтехника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Водный транспорт</a></li>
                                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                                <li><a href="#"><span></span>Другое</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter_tab" id="tab8">
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Легковые автомобили</a></li>
                                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                                <li><a href="#"><span></span>Мото-техника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Спецтехника</a></li>
                                <li><a href="#"><span></span>Автобусы</a></li>
                                <li><a href="#"><span></span>Сельхозтехника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Водный транспорт</a></li>
                                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                                <li><a href="#"><span></span>Другое</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter_tab" id="tab9">
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Легковые автомобили</a></li>
                                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                                <li><a href="#"><span></span>Мото-техника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Спецтехника</a></li>
                                <li><a href="#"><span></span>Автобусы</a></li>
                                <li><a href="#"><span></span>Сельхозтехника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Водный транспорт</a></li>
                                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                                <li><a href="#"><span></span>Другое</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter_tab" id="tab10">
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Легковые автомобили</a></li>
                                <li><a href="#"><span></span>Грузовые автомобили</a></li>
                                <li><a href="#"><span></span>Мото-техника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Спецтехника</a></li>
                                <li><a href="#"><span></span>Автобусы</a></li>
                                <li><a href="#"><span></span>Сельхозтехника</a></li>
                            </ul>
                        </div>
                        <div class="filter_tab__item">
                            <ul>
                                <li><a href="#"><span></span>Водный транспорт</a></li>
                                <li><a href="#"><span></span>Воздушный транспорт</a></li>
                                <li><a href="#"><span></span>Другое</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="clearfix">
        <div class="breadcrumbs">
            <div class="container">
                <ul>
                    <li><a href="index.html">Все объявления</a></li>
                    <li><a href="#">Товары</a></li>
                    <li>Транспорт</li>
                </ul>
            </div>
        </div>
    </div>
   
    <section class="section_cards catalog">
        <div class="container">
          <ul class="filter__selected">
                <li>Акустика
                    <a href="#"></a>
                </li>
                <li>Ручная/механика
                    <a href="#"></a>
                </li>
            </ul>
            <div class="section_cards__top">
                <div class="title_card">
                    <h3>Найдено <strong>2 210</strong> объявлений</h3>
                    <div class="view">
                        <div class="view__center--left">
                            <p>Сортировка:</p>
                            <select class="title_select">
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                            </select>
                        </div>
                        <div class="view__right">
                            <p>Вид:</p>
                            <a href="#" class="active"><i class="icon-ico_svg25"></i></a>
                            <a href="#"><i class="icon-ico_svg26"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="filter">
                    <div class="filter__title">
                        <h2>Уточнить параметры</h2>
                    </div>
                    <div class="filter__item showed active">
                        <a href="#">Тип транспорта</a>
                        <div class="filter__dropdown">
                            <select class="title_select">
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                            </select>
                            <select class="title_select">
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter__item">
                        <a href="#">Марка, модель</a>
                        <div class="filter__dropdown">
                            <select class="title_select">
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                            </select>
                            <select class="title_select">
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter__item">
                        <a href="#">Фильтр три</a>
                        <div class="filter__dropdown">
                            <select class="title_select">
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                            </select>
                            <select class="title_select">
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                                <option>от самых новых</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter__item">
                        <a href="#">Цена, <strong>грн</strong></a>
                        <div class="filter__dropdown">
                            <p><span>от</span>
                                <input type="text" value="0">
                            </p>
                            <p><span>до</span>
                                <input type="text" value="180 000">
                            </p>
                        </div>
                    </div>
                    <div class="filter__item">
                        <a href="#">Безопасность</a>
                        <div class="filter__dropdown">
                            <input type="checkbox" id="checkbox1">
                            <label for="checkbox1">ABS</label>
                            <input type="checkbox" id="checkbox2">
                            <label for="checkbox2">Бронированный</label>
                            <input type="checkbox" id="checkbox3">
                            <label for="checkbox3">Галогенные фары</label>
                            <input type="checkbox" id="checkbox4">
                            <label for="checkbox4">Замок на КПП</label>
                            <input type="checkbox" id="checkbox5">
                            <label for="checkbox5">Иммобилайзер</label>
                            <input type="checkbox" id="checkbox6">
                            <label for="checkbox6">Подушка безопасности</label>
                        </div>
                    </div>
                    <div class="filter__item">
                        <a href="#">Радиоббатон</a>
                        <div class="filter__dropdown">
                            <input type="radio" id="radio1" name="radio1">
                            <label for="radio1">Активный</label>
                            <input type="radio" id="radio2" name="radio1">
                            <label for="radio2">Ховер</label>
                            <input type="radio" id="radio3" name="radio1">
                            <label for="radio3">Третий</label>
                            <input type="radio" id="radio4" name="radio1">
                            <label for="radio4">И еще один</label>
                        </div>
                    </div>
                    <a href="#" class="filter__clear green_btn">Сбросить фильтр</a>
                </div>
                <div class="cards">
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item special_ad">
                        <div class="img">
                            <div class="responsive_img">
                                <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                <img src="img/cart_photo2.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banners clearfix">
                        <div class="col-xs-12">
                            <a href="#">
                                <img src="img/banner3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="cards__item special_ad">
                        <div class="img">
                            <div class="responsive_img">
                                <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                <img src="img/cart_photo2.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banners clearfix">
                        <div class="col-sm-6 col-xs-12">
                            <a href="#">
                                <img src="img/banner1.jpg" alt="">
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <a href="#">
                                <img src="img/banner1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo2.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item special_ad">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item special_ad">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banners banners__center  clearfix">
                        <div class="col-md-12">
                            <a href="#">
                                <img src="img/banner2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards__item">
                        <div class="img">
                            <div class="responsive_img">
                                <img src="img/cart_photo1.jpg" alt="">
                            </div>
                        </div>
                        <div class="cards__item_info">
                            <div class="cards__item_top">
                                <h3>Автоуслуги, грузопере...</h3>
                                <div class="h4 clearfix">
                                    <h4 class="cards__city">Івано-Франківськ</h4>
                                    <h4 class="cards__date">31.05.16</h4>
                                </div>
                                <div class="text">
                                    <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                                </div>
                            </div>
                            <div class="cards__item_bot">
                                <div class="price">
                                    <h5>2 798 <span>грн</span></h5>
                                    <div class="btns">
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="price__btn">
                                    <a href="#" class="btn_info">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--   <div class="banners clearfix">
                    <div class="col-sm-6 col-xs-12">
                        <a href="#">
                            <img src="img/banner1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <a href="#">
                            <img src="img/banner1.jpg" alt="">
                        </a>
                    </div>
                </div> -->
                    <div class="banners clearfix">
                        <div class="col-xs-12">
                            <a href="#">
                                <img src="img/banner4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12"> <a href="#" class="green_btn">Показать еще объявления <img src="img/ico_tobot.png" alt=""></a></div>
                </div>
            </div>
        </div>
    </section>
    //= ../pages/footer.html
    <!--  -->
    //= ../pages/js.html
</body>

</html>
