<footer class="footer">
    <div class="container">
        <div class="footer__top clearfix">
            <a href="#" class="footer__logo">
                <img src="img/logo_white.png" alt="">
            </a>
            <div class="footer__top_right">
                <p>Подписка на новости и обновления</p>
                <form>
                    <input type="email" name="email" placeholder="Ваш адрес эл. почты">
                    <button type="submit" class="green_btn">Подписаться</button>
                </form>
            </div>
        </div>
        <div class="footer__center">
            <div class="footer__center_left">
                <p>Вы размещаете – мы продаем! Это не просто доска бесплатных объявлений всей Украины - это ваша визитная карточка. Информационная площадка, где заключаются деловые сделки, успешные продажи и подбираются надежные кадры. Именно для вас, наша команда хорошо потрудилась и разработала электронный каталог услуг, где отлично сосуществуют рубрики «Продажа», «Услуги» и «Работа».</p>
                <a href="#">Подробнее ...</a>
            </div>
            <div class="footer__center_center">
                <a href="#">Помощь и Обратная связь</a>
                <a href="#">Как продавать и покупать?</a>
                <a href="#">Добавить объявление</a>
                <a href="#">Новости</a>
                <a href="#">Размещение рекламы</a>
                <a href="#">Платные услуги</a>
            </div>
            <div class="footer__center_right">
                <div class="footer__h3">
                    <i class="icon-ico_svg212"></i>
                    <h3>Консультация и помощь</h3>
                </div>
                <a href="callto:0969540970">096 954 09 70</a>
                <div class="footer__h3">
                    <i class="icon-ico_svg222"></i>
                    <h3>Предлагаем сотрудничество в вашем регионе</h3>
                </div>
                <a href="callto:0969540970">096 954 09 70</a>
            </div>
        </div>
        <div class="footer__bottom clearfix">
            <p>© 2012 – 2016 Infobag.com.ua</p>
            <div class="sociable">
                <a href="#"><img src="img/sociable1.png" alt=""></a>
                <a href="#"><img src="img/sociable2.png" alt=""></a>
                <a href="#"><img src="img/sociable3.png" alt=""></a>
                <a href="#"><img src="img/sociable4.png" alt=""></a>
                <a href="#"><img src="img/sociable5.png" alt=""></a>
                <div class="rss">
                    <a href="#"><img src="img/sociable6.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
