<div class="header__top">
    <div class="container">
        <a href="index.html" class="header__logo">
            <img src="img/logo.png" alt="">
        </a>
        <div class="header__top_buttons">
            <div class="col-xs-6">
                <a href="#" class="green_btn">Добавить объявление <img src="img/ico_plus.png" alt=""></a>
            </div>
            <div class="col-xs-6">
                <div class="registration user">
                    <div class="table-cell">
                        <a href="#">
                            <p>Товариш Юзер</p>
                            <div class="img"><img src="img/user_photo_mini.jpg" alt=""></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
