//= ../pages/heat.html

<body>
    <header class="header">
        //= ../pages/header.html
        <div class="header__heat">
            <div class="container">
                <h1>Каталог товаров и услуг украины</h1>
                <h2>Найди то, что ищешь среди <strong>7 856</strong> предложений</h2>
                <div class="header__heat_tabs">
                    <a href="catalog.html"><i class="icon-ico_svg1"></i>Товары</a>
                    <a href="#"><i class="icon-ico_svg2"></i>Услуги</a>
                    <a href="#"><i class="icon-ico_svg3"></i>Работа</a>
                </div>
                //= ../pages/nav.html
                <div class="header__bottom_nav">
                    <a href="#">Новости</a> <a href="#">Контакты</a> <a href="#">Информация</a>
                </div>
            </div>
        </div>
    </header>
    <section class="section_cards">
        <div class="container">
            <div class="section_cards__top">
                <div class="title_card">
                    <h2><strong>Топ-</strong>Объявления</h2>
                    <a href="#" class="title_btn">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="cards">
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item special_ad">
                    <div class="img">
                        <div class="responsive_img">
                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                            <img src="img/cart_photo2.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item special_ad">
                    <div class="img">
                        <div class="responsive_img">
                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                            <img src="img/cart_photo2.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <div class="sticker">Топ<i class="icon-ico_svg8"></i></div>
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section_cards normal_ad">
        <div class="container">
            <div class="section_cards__top">
                <div class="title_card">
                    <h2><strong>Обычные</strong> Объявления</h2>
                    <a href="#" class="title_btn">Смотреть все <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="cards">
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <img src="img/cart_photo2.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item special_ad">
                    <div class="img">
                        <div class="responsive_img">
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item special_ad">
                    <div class="img">
                        <div class="responsive_img">
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cards__item">
                    <div class="img">
                        <div class="responsive_img">
                            <img src="img/cart_photo1.jpg" alt="">
                        </div>
                    </div>
                    <div class="cards__item_info">
                        <div class="cards__item_top">
                            <h3>Автоуслуги, грузопере...</h3>
                            <div class="h4 clearfix">
                                <h4 class="cards__city">Івано-Франківськ</h4>
                                <h4 class="cards__date">31.05.16</h4>
                            </div>
                            <div class="text">
                                <p>Вантажні перевезення 5т. Фургон 35 м3, довжина ...</p>
                            </div>
                        </div>
                        <div class="cards__item_bot">
                            <div class="price">
                                <h5>2 798 <span>грн</span></h5>
                                <div class="btns">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Показать контакты"><i class="fa fa-phone" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Отправить сообщение"><i class="icon-ico_svg12" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Добавить в избранные"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="price__btn">
                                <a href="#" class="btn_info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="container">
            <div class="title">
                <h2>Как подать объявление?</h2>
                <p>3 простых шага</p>
            </div>
            <div class="clearfix wrap_items">
                <div class="col-xs-4 section2__item">
                    <div class="img">
                        <i class="icon-ico_svg14"></i>
                    </div>
                    <h3>Присоединяйся к нам</h3>
                    <p>Пройди регистрацию на нашем сайте</p>
                </div>
                <div class="col-xs-4 section2__item">
                    <div class="img">
                        <i class="icon-ico_svg15"></i>
                    </div>
                    <h3>Создай объявление</h3>
                    <p>Заполни форму подачи объявления</p>
                </div>
                <div class="col-xs-4 section2__item">
                    <div class="img">
                        <i class="icon-ico_svg16"></i>
                    </div>
                    <h3>Получай результат</h3>
                    <p>Размещенное объявление привлекает клиентов</p>
                </div>
            </div>
            <h6>*Первый и второй шаг (регистрация и подача объявления) можно пройти одним разом, заполнив форму после нажатия кнопки “добавить объявление”</h6>
            <a href="#" class="green_btn">Добавить объявление <img src="img/ico_plus.png" alt=""></a>
        </div>
    </section>
    <section class="section3">
        <div class="container">
            <div class="title">
                <h2>Платные услуги</h2>
                <p>Варианты размещения объявления</p>
            </div>
            <div class="section3__items">
                <div class="section3__item">
                    <h3 class="item_top">Обычное объявление</h3>
                    <div class="item_title">
                        <h5>Бесплатно</h5>
                    </div>
                    <div class="wrap_img">
                        <div class="img">
                            <img src="img/section3_ico1.png" alt="">
                        </div>
                    </div>
                    <p>Разместив одно объявление бесплатно, вы дополнительно получаете доступ к онлайн-визитке, которая автоматически становится личным мини-сайтом, где клиенты всегда могут оставить отзывы о вашем товаре или услуге.</p>
                    <div class="price__btn">
                        <a href="#" class="btn_info">Подробнее</a>
                    </div>
                </div>
                <div class="section3__item">
                    <h3 class="item_top">Выделенное объявление</h3>
                    <div class="item_title">
                        <h4>от <b>9</b> <span>грн <strong>
                        неделя</strong></span></h4>
                    </div>
                    <div class="wrap_img">
                        <div class="img">
                            <img src="img/section3_ico2.png" alt="">
                        </div>
                    </div>
                    <p> Отличись от всех других объявлений! Это даст вам возможность сделать больше продаж. Вы всегда будете на виду у всех. Пройти мимо вас будет сложно, так как цвет всегда будете притягивать глаз наших поситителей!</p>
                    <div class="price__btn">
                        <a href="#" class="btn_info">Подробнее</a>
                    </div>
                </div>
                <div class="section3__item">
                    <h3 class="item_top">Топ-объявление</h3>
                    <div class="item_title">
                        <h4>от <b>19</b> <span>грн <strong>
                        неделя</strong></span></h4>
                    </div>
                    <div class="wrap_img">
                        <div class="img">
                            <img src="img/section3_ico3.png" alt="">
                        </div>
                    </div>
                    <p>Будь всегда на высоте!ТОП-объявление - это всегда первая страница нашего сайта. Информацию о вас сложно будет упустить.</p>
                    <p>Это выгодное положение и предложение прямо здесь и сейчас.</p>
                    <div class="price__btn">
                        <a href="#" class="btn_info">Подробнее</a>
                    </div>
                </div>
                <div class="section3__item">
                    <h3 class="item_top">Дополнительные услуги</h3>
                    <div class="item_title">
                        <h4>от <b>49</b> <span>грн</span></h4>
                    </div>
                    <div class="wrap_img">
                        <div class="img">
                            <img src="img/section3_ico4.png" alt="">
                        </div>
                    </div>
                    <p>Улучшайся, размножайся благодаря дополнителным услугам наших специалистов. SEO-оптимизация, копирайтинг, фото-видеосъемка, монтаж видео и не только, раскажут о вас всей Украине!</p>
                    <div class="price__btn">
                        <a href="#" class="btn_info">Подробнее</a>
                    </div>
                </div>
            </div>
            <a href="#" class="green_btn">Смотреть все платные услуги <img src="img/ico_tobot.png" alt=""></a>
        </div>
    </section>
    //= ../pages/footer.html
    <!--  -->
    //= ../pages/js.html
</body>

</html>
