<div class="header__search col-md-12">
    <div class="search clearfix">
        <div class="col-sm-3 col-xs-12">
            <div class="search__select" multiple="multiple">
                <select class="select">
                    <optgroup>
                        <option value="#"  class="all-reg">Вся Украина</option>
                    </optgroup>
                    <optgroup>
                        <option value="">Киев</option>
                        <option value="">Винница</option>
                        <option value="">Днепр</option>
                        <option value="">Донецк</option>
                        <option value="">Житомир</option>
                        <option value="">Запорожье</option>
                        <option value="">Ивано-Франковск</option>
                        <option value="">Кропивницкий</option>
                    </optgroup>
                    <optgroup>
                        <option value="">Луганск</option>
                        <option value="">Луцк</option>
                        <option value="">Львов</option>
                        <option value="">Николаев</option>
                        <option value="">Одесса</option>
                        <option value="">Полтава</option>
                        <option value="">Ровно</option>
                        <option value="">Сумы</option>
                    </optgroup>
                    <optgroup value="">
                        <option value="">Тернополь</option>
                        <option value="">Ужгород</option>
                        <option value="">Харьков</option>
                        <option value="">Херсон</option>
                        <option value="">Хмельницкий</option>
                        <option value="">Черкассы</option>
                        <option value="">Чернигов</option>
                        <option value="">Черновцы</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="col-sm-7 col-xs-10">
            <div class="search__search">
                <div class="search__btn_dropdown">
                    <button>
                        <span>Все категории</span> <i class="icon-ico_svg6"></i>
                    </button>
                    <div class="search__dropdown">
                        <ul>
                            <li><a href="#"><i class="icon-ico_svg25"></i>Все категории</a></li>
                            <li><a href="#"><i class="icon-ico_svg23"></i> Товары</a>
                                <ul>
                                    <li><a href="#"><i class="icon-ico_svg23"></i> Товары</a></li>
                                    <li><a href="#"><i class="icon-ico_svg23"></i> Услуги</a></li>
                                    <li><a href="#"><i class="icon-ico_svg23"></i> Работа</a></li>
                                    <li><a href="#"><i class="icon-ico_svg23"></i> Товары</a>
                                        <ul>
                                            <li><a href="#">Товары</a></li>
                                            <li><a href="#">Услуги</a></li>
                                            <li><a href="#">Работа</a></li>
                                            <li><a href="#">Товары</a></li>
                                            <li><a href="#">Услуги</a></li>
                                            <li><a href="#">Работа</a></li>
                                            <li><a href="#">Коллекционирование</a></li>
                                            <li><a href="#">Услуги</a></li>
                                            <li><a href="#">Работа</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="icon-ico_svg23"></i> Услуги</a></li>
                                    <li><a href="#"><i class="icon-ico_svg23"></i> Работа</a></li>
                                    <li><a href="#"><i class="icon-ico_svg23"></i> Коллекционирование</a></li>
                                    <li><a href="#"><i class="icon-ico_svg23"></i> Услуги</a></li>
                                    <li><a href="#"><i class="icon-ico_svg23"></i> Работа</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icon-ico_svg23"></i> Услуги</a></li>
                            <li><a href="#"><i class="icon-ico_svg23"></i> Работа</a></li>
                        </ul>
                    </div>
                </div>
                <input type="name" placeholder="Поиск...">
            </div>
        </div>
        <div class="col-sm-2 col-xs-2 search__btn_wrap">
            <button class="green_btn search__btn">
                <span>Найти</span> <i class="icon-ico_svg4"></i>
            </button>
        </div>
    </div>
</div>
