//= ../pages/heat.html

<body>
    <header class="header">
        <!-- //= ../pages/header.html -->
        //= ../pages/header_user.html
    </header>
    <section class="personal_area">
        <div class="container">
            <div class="clearfix">
                <div class="col-md-3 col-sm-4 clearfix">
                    <div class="personal_area__left">
                        <div class="row">
                            <div class="personal_area__user">
                                <div class="personal_area__photo">
                                    <img src="img/user_photo_large.jpg" alt="">
                                    <div class="hover">
                                        <ul>
                                            <li><a href="#"><i class="icon-personal_area_ico1"></i> <span>Изменить фото</span></a></li>
                                            <li><a href="#"><i class="icon-card_info_ico4"></i> <span>Удалить</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="personal_area__name">
                                    <h2>Товариш Юзер</h2>
                                    <p>Дата регистрации 15.08.2016</p>
                                    <a href="#" class="silver_btn">Ваша онлайн-визитка</a>
                                </div>
                            </div>
                        </div>
                        <div class="personal_area__nav">
                            <ul>
                                <li class="active">
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Личные данные</span></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Объявления</span></a>
                                </li>
                                <li>
                                    <a href="#" class="sms">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Сообщения</span>
                                        <div class="count">+99</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Email рассылка</span></a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Закладки</span></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Помощь</span></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Выйти</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="personal_area__right personal_area_data">
                        <div class="personal_area_data__top">
                            <div class="left">
                                <div class="ico"><img src="img/ico_user_large.png" alt=""></div>
                                <h3>Сообщения</h3>
                            </div>
                            <div class="right">
                                <div class="table">
                                    <h4>Ваш баланс: <span>2 500</span> грн</h4>
                                    <div>
                                        <a href="#" class="border_green_btn">Пополнить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="personal_area_message">
                            <div class="personal_area_message__buttons">
                                <div class="personal_area_message__check_all">
                                    <input type="checkbox" id="check_all">
                                    <label for="check_all"></label>
                                </div>
                                <div class="personal_area_message__tabs">
                                    <a href="#">Все сообщения</a>
                                    <a href="#">Непрочитанные</a>
                                </div>
                                <div class="personal_area_message__remove">
                                    <a href="#" class="silver_btn"><i class="icon-personal_area_ico7"></i><span>Удалить</span></a>
                                </div>
                            </div>
                            <div>
                                <div class="personal_area_message__dialogs">
                                    <div class="content">
                                        <div class="personal_area_message__list">
                                            <ul>
                                                <li>
                                                    <div class="table">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="check1">
                                                            <label for="check1"></label>
                                                        </div>
                                                        <a href="#">
                                                            <div class="personal_area_message__name">
                                                                <h3>Василь Петрович</h3>
                                                            </div>
                                                            <div class="personal_area_message__text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить...</p>
                                                            </div>
                                                            <div class="personal_area_message__date">
                                                                <h4>26.05.2016</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="table">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="check2">
                                                            <label for="check2"></label>
                                                        </div>
                                                        <a href="#">
                                                            <div class="personal_area_message__name">
                                                                <h3>Василь Петрович</h3>
                                                            </div>
                                                            <div class="personal_area_message__text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить...</p>
                                                            </div>
                                                            <div class="personal_area_message__date">
                                                                <h4>26.05.2016</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="new_message">
                                                    <div class="table">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="check3">
                                                            <label for="check3"></label>
                                                        </div>
                                                        <a href="#">
                                                            <div class="personal_area_message__name">
                                                                <h3>Василь Петрович</h3>
                                                            </div>
                                                            <div class="personal_area_message__text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить...</p>
                                                            </div>
                                                            <div class="personal_area_message__date">
                                                                <h4>26.05.2016</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="table">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="check1">
                                                            <label for="check1"></label>
                                                        </div>
                                                        <a href="#">
                                                            <div class="personal_area_message__name">
                                                                <h3>Василь Петрович</h3>
                                                            </div>
                                                            <div class="personal_area_message__text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить...</p>
                                                            </div>
                                                            <div class="personal_area_message__date">
                                                                <h4>26.05.2016</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="table">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="check2">
                                                            <label for="check2"></label>
                                                        </div>
                                                        <a href="#">
                                                            <div class="personal_area_message__name">
                                                                <h3>Василь Петрович</h3>
                                                            </div>
                                                            <div class="personal_area_message__text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить...</p>
                                                            </div>
                                                            <div class="personal_area_message__date">
                                                                <h4>26.05.2016</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="new_message">
                                                    <div class="table">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="check3">
                                                            <label for="check3"></label>
                                                        </div>
                                                        <a href="#">
                                                            <div class="personal_area_message__name">
                                                                <h3>Василь Петрович</h3>
                                                            </div>
                                                            <div class="personal_area_message__text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить...</p>
                                                            </div>
                                                            <div class="personal_area_message__date">
                                                                <h4>26.05.2016</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="table">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="check1">
                                                            <label for="check1"></label>
                                                        </div>
                                                        <a href="#">
                                                            <div class="personal_area_message__name">
                                                                <h3>Василь Петрович</h3>
                                                            </div>
                                                            <div class="personal_area_message__text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить...</p>
                                                            </div>
                                                            <div class="personal_area_message__date">
                                                                <h4>26.05.2016</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="table">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="check2">
                                                            <label for="check2"></label>
                                                        </div>
                                                        <a href="#">
                                                            <div class="personal_area_message__name">
                                                                <h3>Василь Петрович</h3>
                                                            </div>
                                                            <div class="personal_area_message__text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить...</p>
                                                            </div>
                                                            <div class="personal_area_message__date">
                                                                <h4>26.05.2016</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="new_message">
                                                    <div class="table">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="check3">
                                                            <label for="check3"></label>
                                                        </div>
                                                        <a href="#">
                                                            <div class="personal_area_message__name">
                                                                <h3>Василь Петрович</h3>
                                                            </div>
                                                            <div class="personal_area_message__text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить...</p>
                                                            </div>
                                                            <div class="personal_area_message__date">
                                                                <h4>26.05.2016</h4>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="personal_area_message__open_dialog">
                                            <div class="personal_area_data__title">
                                                <a href="#" class="back_to_dialogs"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Назад</span></a>
                                            </div>
                                            <div class="personal_area_message__dialog">
                                                <ul>
                                                    <li>
                                                        <div class="personal_area_message__avatar">
                                                            <a href="#">
                                                                <div class="img">
                                                                    <img src="img/user_photo_large.jpg" alt="">
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="personal_area_message__content">
                                                            <div class="top">
                                                                <a href="#"><h3>Василь Петрович</h3></a>
                                                                <h4><span>14:45</span>   /   <span>26.05.2016</span></h4>
                                                            </div>
                                                            <div class="text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить у Вас что-то</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="personal_area_message__avatar">
                                                            <a href="#">
                                                                <div class="img">
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="personal_area_message__content">
                                                            <div class="top">
                                                                <a href="#"><h3>Товариш Юзер</h3></a>
                                                                <h4><span>14:45</span>   /   <span>26.05.2016</span></h4>
                                                            </div>
                                                            <div class="text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить у Вас что-то</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                       <li>
                                                        <div class="personal_area_message__avatar">
                                                            <a href="#">
                                                                <div class="img">
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="personal_area_message__content">
                                                            <div class="top">
                                                                <a href="#"><h3>Товариш Юзер</h3></a>
                                                                <h4><span>14:45</span>   /   <span>26.05.2016</span></h4>
                                                            </div>
                                                            <div class="text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить у Вас что-то</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                       <li>
                                                        <div class="personal_area_message__avatar">
                                                            <a href="#">
                                                                <div class="img">
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="personal_area_message__content">
                                                            <div class="top">
                                                                <a href="#"><h3>Товариш Юзер</h3></a>
                                                                <h4><span>14:45</span>   /   <span>26.05.2016</span></h4>
                                                            </div>
                                                            <div class="text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить у Вас что-то</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                       <li>
                                                        <div class="personal_area_message__avatar">
                                                            <a href="#">
                                                                <div class="img">
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="personal_area_message__content">
                                                            <div class="top">
                                                                <a href="#"><h3>Товариш Юзер</h3></a>
                                                                <h4><span>14:45</span>   /   <span>26.05.2016</span></h4>
                                                            </div>
                                                            <div class="text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить у Вас что-то</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                       <li>
                                                        <div class="personal_area_message__avatar">
                                                            <a href="#">
                                                                <div class="img">
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="personal_area_message__content">
                                                            <div class="top">
                                                                <a href="#"><h3>Товариш Юзер</h3></a>
                                                                <h4><span>14:45</span>   /   <span>26.05.2016</span></h4>
                                                            </div>
                                                            <div class="text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить у Вас что-то</p>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="new_message">
                                                        <div class="personal_area_message__avatar">
                                                            <a href="#">
                                                                <div class="img">
                                                                    <img src="img/user_photo_large.jpg" alt="">
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="personal_area_message__content">
                                                            <div class="top">
                                                                <a href="#"><h3>Василь Петрович</h3></a>
                                                                <h4><span>14:45</span>   /   <span>26.05.2016</span></h4>
                                                            </div>
                                                            <div class="text">
                                                                <p>Добрый день, Товарищ Юзер! Хотел бы купить у Вас что-то</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="personal_area_message__textarea">
                                            <div class="clearfix">
                                                <div class="personal_area_message__avatar">
                                                    <a href="#">
                                                        <div class="img">
                                                            <img src="img/user_photo_large.jpg" alt="">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="personal_area_message__content">
                                                <textarea></textarea></div>
                                                </div>
                                                <a href="#" class="green_btn">Отправить</a>
                                            </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    //= ../pages/footer.html
    <!--  -->
    //= ../pages/js.html
</body>

</html>
