//= ../pages/heat.html

<body>
    <header class="header">
        <!-- //= ../pages/header.html -->
        //= ../pages/header_user.html
    </header>
    <section class="personal_area">
        <div class="container">
            <div class="clearfix">
                <div class="col-md-3 col-sm-4 clearfix">
                    <div class="personal_area__left">
                        <div class="row">
                            <div class="personal_area__user">
                                <div class="personal_area__photo">
                                    <img src="img/user_photo_large.jpg" alt="">
                                    <div class="hover">
                                        <ul>
                                            <li><a href="#"><i class="icon-personal_area_ico1"></i> <span>Изменить фото</span></a></li>
                                            <li><a href="#"><i class="icon-card_info_ico4"></i> <span>Удалить</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="personal_area__name">
                                    <h2>Товариш Юзер</h2>
                                    <p>Дата регистрации 15.08.2016</p>
                                    <a href="#" class="silver_btn">Ваша онлайн-визитка</a>
                                </div>
                            </div>
                        </div>
                        <div class="personal_area__nav">
                            <ul>
                                <li class="active">
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Личные данные</span></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Объявления</span></a>
                                </li>
                                <li>
                                    <a href="#" class="sms">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Сообщения</span>
                                        <div class="count">+99</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Email рассылка</span></a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Закладки</span></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Помощь</span></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="ico"><i class="icon-ico_svg16"></i></div><span>Выйти</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8">
                    <div class="personal_area__right personal_area_data">
                        <div class="personal_area_data__top">
                            <div class="left">
                                <div class="ico"><img src="img/ico_user_large.png" alt=""></div>
                                <h3>Личные данные</h3>
                            </div>
                            <div class="right">
                                <div class="table">
                                    <h4>Ваш баланс: <span>2 500</span> грн</h4>
                                    <div>
                                        <a href="#" class="border_green_btn">Пополнить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="personal_area_data__item">
                            <div class="personal_area_data__title">
                                <h3>Личные данные</h3>
                            </div>
                            <div class="wrap_input">
                                <div class="wrap_input__label">
                                    <label for="">Контактное лицо</label>
                                </div>
                                <div class="wrap_input__input">
                                    <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                                </div>
                            </div>
                            <div class="wrap_input">
                                <div class="wrap_input__label">
                                    <label for="">Номер телефона</label>
                                </div>
                                <div class="wrap_input__input">
                                    <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                                </div>
                            </div>
                            <div class="wrap_input">
                                <div class="wrap_input__label">
                                    <label for="">E-mail</label>
                                </div>
                                <div class="wrap_input__input ">
                                    <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                                </div>
                            </div>
                            <div class="wrap_input ">
                                <div class="wrap_input__label">
                                    <label for="">Выбрать город</label>
                                </div>
                                <div class="wrap_input__input create_ad__city">
                                    <div class="search__select" multiple="multiple">
                                        <select class="select">
                                            <optgroup>
                                                <option value="#" class="all-reg">Вся Украина</option>
                                            </optgroup>
                                            <optgroup>
                                                <option value="">Киев</option>
                                                <option value="">Винница</option>
                                                <option value="">Днепр</option>
                                                <option value="">Донецк</option>
                                                <option value="">Житомир</option>
                                                <option value="">Запорожье</option>
                                                <option value="">Ивано-Франковск</option>
                                                <option value="">Кропивницкий</option>
                                            </optgroup>
                                            <optgroup>
                                                <option value="">Луганск</option>
                                                <option value="">Луцк</option>
                                                <option value="">Львов</option>
                                                <option value="">Николаев</option>
                                                <option value="">Одесса</option>
                                                <option value="">Полтава</option>
                                                <option value="">Ровно</option>
                                                <option value="">Сумы</option>
                                            </optgroup>
                                            <optgroup value="">
                                                <option value="">Тернополь</option>
                                                <option value="">Ужгород</option>
                                                <option value="">Харьков</option>
                                                <option value="">Херсон</option>
                                                <option value="">Хмельницкий</option>
                                                <option value="">Черкассы</option>
                                                <option value="">Чернигов</option>
                                                <option value="">Черновцы</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap_input__btn">
                                <a href="#" class="green_btn">Сохранить</a>
                            </div>
                        </div>
                        <div class="personal_area_data__item">
                            <div class="personal_area_data__title">
                                <h3>Смена пароля</h3>
                            </div>
                            <div class="wrap_input">
                                <div class="wrap_input__label">
                                    <label for="">Старый пароль <span>*</span></label>
                                </div>
                                <div class="wrap_input__input">
                                    <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                                </div>
                            </div>
                            <div class="wrap_input">
                                <div class="wrap_input__label">
                                    <label for="">Новый пароль <span>*</span></label>
                                </div>
                                <div class="wrap_input__input">
                                    <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                                </div>
                            </div>
                            <div class="wrap_input">
                                <div class="wrap_input__label">
                                    <label for="">Повторите новый пароль <span>*</span></label>
                                </div>
                                <div class="wrap_input__input ">
                                    <input type="text" data-placement="right" title="Текст подсказки orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
                                </div>
                            </div>
                            
                            <div class="wrap_input__btn">
                                <a href="#" class="green_btn">Сменить пароль</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    //= ../pages/footer.html
    <!--  -->
    //= ../pages/js.html
</body>

</html>
